[submodule "fairseq/models/huggingface/transformers"]
    path = fairseq/models/huggingface/transformers
    url = https://github.com/myleott/transformers.git
    branch = fairseq
[submodule "fairseq/model_parallel/megatron"]
	path = fairseq/model_parallel/megatron
	url = https://github.com/ngoyal2707/Megatron-LM
