[submodule "fairseq/models/huggingface/transformers"]
    path = fairseq/models/huggingface/transformers
    url = https://github.com/fairseq/transformers
    branch = fairseq
[submodule "fairseq/model_parallel/megatron"]
    path = fairseq/model_parallel/megatron
    url = https://github.com/fairseq/Megatron-LM
    branch = fairseq
