name: Upload Python Package

on:
  pull_request:

jobs:
  deploy:

    strategy:
      max-parallel: 4
      matrix:
        #platform: [ubuntu-latest, macos-latest]
        #python-version: [3.6, 3.7, 3.8, 3.9]
        platform: [ubuntu-latest]
        python-version: [3.6, 3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload --repository testpypi dist/*
